@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

input {
  caret-color: blue;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000814;
  font: normal normal normal 14px/19px Open Sans;
}

.text-active {
  color: #b9cdec;
}

.bg-active {
  background-color: #c2daff;
}

.text-inActive {
  color: #c2daff;
}

.bg-inActive {
  background-color: #c2daff;
}

/* text sizee */

.text1 {
  font-size: 20px;
}

.text2 {
  font-size: 18px;
}

.text3 {
  font-size: 16px;
}

/* tabel hover */

.cursor-pointer:hover {
  background-color: #c2daff;
}
